<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="vo" type="eatoday.vo.recipeVO"/>
		<typeAlias alias="ivo" type="eatoday.vo.recipeImgVO"/>
		<typeAlias alias="irvo" type="eatoday.vo.recipeReviewVO"/>
		<typeAlias alias="irnvo" type="eatoday.vo.recipeReviewNiceVO"/>
		<typeAlias alias="rvo" type="eatoday.vo.restaurantVO"/>
		<typeAlias alias="mvo" type="eatoday.vo.memberVO"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/sql/recipeSQL.xml"/>
		<mapper resource="/sql/restaurantSQL.xml"/>
		<mapper resource="/sql/MemberSQL.xml"/>
	</mappers>
</configuration>