<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="recipeVO" type="eatoday.vo.recipeVO"/>
		<typeAlias alias="recipeImgVO" type="eatoday.vo.recipeImgVO"/>
		<typeAlias alias="recipeReviewVO" type="eatoday.vo.recipeReviewVO"/>
		<typeAlias alias="recipeJjimVO" type="eatoday.vo.recipeJjimVO"/>
		<typeAlias alias="recipeReviewNiceVO" type="eatoday.vo.recipeReviewNiceVO"/>
		<typeAlias alias="restaurantVO" type="eatoday.vo.restaurantVO"/>
		<typeAlias alias="restaurantReviewVO" type="eatoday.vo.restaurantReviewVO"/>
		<typeAlias alias="restaurantReviewNiceVO" type="eatoday.vo.restaurantReviewNiceVO"/>
		<typeAlias alias="memberVO" type="eatoday.vo.memberVO"/>
		<typeAlias alias="supportVO" type="eatoday.vo.supportVO"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/sql/recipeSQL.xml"/>
		<mapper resource="/sql/restaurantSQL.xml"/>
		<mapper resource="/sql/MemberSQL.xml"/>
		<mapper resource="/sql/supportSQL.xml"/>
	</mappers>
</configuration>